export(array2matrix)
export(bayes.factors)
export(ctlMCMCtree)
export(gauss.quad)
export(lmk_imp)
export(make.beta)
export(make.bfctlf)
export(matrix2array)
export(proc2MCMCtree)
export(sim.morpho)
export(sim.pop)
export(stepping.stones)
export(treeMCMCtree)
export(write.morpho)
importFrom("stats", "cov", "dcauchy", "dexp", "integrate", "rnorm", "var")
importFrom("utils", "read.csv", "read.table", "write.table")
exportPattern("^[[:alpha:]]+")
importFrom(Rdpack,reprompt)